/* Global Styles */
body {
    background-color: #f4f4f4;
    color: #333;
    align-items: center;
    margin: 0%;
}
.logo img {
    max-width: 50%;
    height: auto;
}


/* Header Styles */
#header {
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#hero {
    background-color: #333333;
    text-align: center;
    color: #fff;
    padding: 80px 0;
}
h2 {color: crimson;
    text-align: center;
}
#about { text-align: center;}
#company { text-align: center; font-size: xx-large;}